extends layout

block content
    #library-container.container.page-container
        .row.justify-content-center
            - var snips = snippets;
            - console.log(`Library snips? ${snips}`);
            if snips.length
                each snip in snips
                    .col-sm-4
                        .card.bg-dark.mb-5
                            .card-header.text-info
                                h5 #{snip.description}
                            .card-body
                                p.card-text.text-offwhite= snip.content
                                p.card-text.text-yellow.mb-0 editor: 
                                    span.text-ltgrey #{snip.editor}
                                p.card-text.text-yellow.mb-0 scope: 
                                    span.text-ltgrey #{snip.scope}
                                p.card-text.text-yellow trigger: 
                                    span.text-ltgrey #{snip.trigger}
                            .card-footer.text-right                            
                                a.card-link.text-green.hover-ltgrey(href='#', target='_blank') add
            else
                .col-md-6.p-t-2.text-center
                    i.icn-person.material-icons error
                    h1 oops!
                    p.lead.m-t-2 No snippets found for #{editor}


