extends layout

block content
    #library-container.container.page-container
        .row
            .col-12
                h1.text-black #{editor} - Code Snippet Library
                hr
        .row
            - var snips = snippets;
            if snips.length
                each snip in snips
                    .col-sm-4
                        .card.bg-dark.mb-5
                            .card-header.text-info
                                h5 #{snip.description}
                            ul.list-group.list-group-flush
                                li.list-group-item.text-black= snip.content
                                li.list-group-item editor:
                                    span.text-ltgrey #{snip.editor}
                                li.list-group-item scope:
                                    span.text-ltgrey #{snip.scope}
                                li.list-group-item trigger:
                                    span.text-ltgrey #{snip.trigger}                                    
                            .card-body
                                if snip.userId === currentUser
                                    //- // remove snippet form
                                    form.lib-form.form-inline.removeSnip-form.form.mb-0(action='/snippets/' + snip._id + '/user/' + currentUser, method="DELETE")
                                        input.form-control(type="hidden", name="snipID", value=snip._id)
                                        input.form-control(type="hidden", name="uID", value=currentUser)
                                        button.lib-remove.card-link.text-red.hover-ltgrey(type="submit") remove
                                else if currentUser
                                    // add snippet form
                                    form.lib-form.addSnip-form.form.mb-0(action='/snippets/' + snip._id + '/user/' + currentUser, method="PUT")
                                        input.form-control(type="hidden", name="snipID", value=snip._id)
                                        input.form-control(type="hidden", name="uID", value=currentUser)
                                        button.lib-add.card-link.text-green.hover-ltgrey(type="submit") add
                                else 
                                    a.lib-add.card-link.text-green.hover-ltgrey(href="#") add
            else
                .col-md-6.p-t-2.text-center
                    i.icn-person.material-icons error
                    h1 oops!
                    p.lead.m-t-2 No snippets found for #{editor}


