extends layout

block content
    #library-container.container.page-container
        .row
            .col-12
                h1.text-black.text-center.text-red.mb-5 #{editor}
                    br 
                    |
                    span.text-blue Code Snippet Library
                ul#lib-nav.nav.nav-tabs.justify-content-center.my-5
                    - let linkEditor = editor.toLowerCase().replace(/ /g, '_');
                    li.nav-item
                        a.nav-link.active(href='#', data-editor=linkEditor, data-scope="source", data-ext="js") Javascript
                    li.nav-item
                        a.nav-link(href="#", data-editor=linkEditor, data-scope="text", data-ext="html") HTML
                    li.nav-item
                        a.nav-link(href="#", data-editor=linkEditor, data-scope="source", data-ext="css") CSS
                    li.nav-item
                        a.nav-link(href="#", data-editor=linkEditor, data-scope="source", data-ext="php") PHP
                    li.nav-item
                        a.nav-link(href="#", data-editor=linkEditor, data-scope="source", data-ext="json") JSON

        .row#lib-snippets-row.fullsize-row
            - var snips = snippets;
            if snips.length
                each snip in snips
                    .col-sm-4(id=`card-${snip._id}`)
                        .card.bg-dark.mb-5
                            .card-header.text-info
                                h5 #{snip.description}
                            ul.list-group.list-group-flush
                                li.list-group-item.text-black.content-snip #{snip.content}
                                li.list-group-item editor:
                                    span.text-ltgrey  #{snip.editor}
                                li.list-group-item scope:
                                    span.text-ltgrey  #{snip.scope}
                                li.list-group-item trigger:
                                    span.text-ltgrey  #{snip.trigger}                                    
                            .card-body
                                //- user logged in and owns the snippet
                                if snip.userId === currentUser 
                                    //- // remove snippet form
                                    form.lib-form.form-inline.removeSnip-form.form.mb-0(action='/snippets/' + snip._id + '/user/' + currentUser, method="DELETE")
                                        input.form-control(type="hidden", name="snipID", value=snip._id)
                                        input.form-control(type="hidden", name="uID", value=currentUser)
                                        button.lib-remove.card-link.text-red.hover-ltgrey(type="submit", data-target=`#card-${snip._id}`) remove
                                //- user is logged in but does not own snippet
                                else if currentUser
                                    //- // add snippet form
                                    form.lib-form.addSnip-form.form.mb-0(action='/snippets/' + snip._id + '/user/' + currentUser, method="PUT")
                                        input.form-control(type="hidden", name="snipID", value=snip._id)
                                        input.form-control(type="hidden", name="uID", value=currentUser)
                                        button.lib-add.card-link.text-green.hover-ltgrey(type="submit") add
                                else 
                                    a.lib-add.card-link.text-green.hover-ltgrey(href="#") add
            else
                .col-md-6.p-t-2.text-center
                    i.icn-person.material-icons error
                    h1 oops!
                    p.lead.m-t-2 No snippets found for #{editor}


