nav.navbar.navbar-expand-lg.navbar-dark.back-black.fixed-top(role="navigation")
    .container
        a#nav-home.navbar-brand(href="/", class=active ==='home' ? 'active' : '') Snippets
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#nav-collapse", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon

        div#nav-collapse.collapse.navbar-collapse
            ul.navbar-nav.mx-auto
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', class=active ==='library' ? 'active' : '', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Library
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        - let navEditor = editor ? editor.toLowerCase() : '';
                        a.dropdown-item(href='/library/atom', class=navEditor ==='atom' ? 'active' : '') Atom
                        a.dropdown-item(href='/library/brackets', class=navEditor ==='brackets' ? 'active' : '') Brackets
                        a.dropdown-item(href='/library/sublime', class=navEditor ==='sublime' ? 'active' : '') Sublime Text
                        a.dropdown-item(href='/library/visual-studio-code', class=navEditor ==='visual studio code' ? 'active' : '') Visual Studio Code
                li.nav-item
                    a#nav-details.nav-link(href="/details", class=active ==='details' ? 'active' : '') Details
                li.nav-item
                    a#nav-about.nav-item.nav-link(href="/about", class=active ==='about' ? 'active' : '') About
            if !currentUser
                ul.navbar-nav.mr-2
                    li.nav-item
                        a.nav-item.nav-link(href='/login', class=active ==='login' ? 'active' : '') Login
                    li.nav-item
                        a.nav-item.nav-link(href='/register', class=active ==='register' ? 'active' : '') Register
            else
                ul.navbar-nav.mr-2
                    li.nav-item
                        a.nav-item.nav-link(href='/profile', class=active ==='profile' ? 'active' : '') Profile
                    li.nav-item
                        a.nav-item.nav-link(href='/logout') Logout
                    